--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- Name: check_bank_account_exists(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_bank_account_exists() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF EXISTS (SELECT 1 FROM main_worker WHERE bank_name = NEW.bank_name AND account_number = NEW.account_number) THEN
        RAISE EXCEPTION 'Bank name % and account number % combination is already registered.', NEW.bank_name, NEW.account_number;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_bank_account_exists() OWNER TO postgres;

--
-- Name: check_phone_number_exists(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_phone_number_exists() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF EXISTS (SELECT 1 FROM main_user WHERE phone_number = NEW.phone_number) THEN
        RAISE EXCEPTION 'Phone number % is already registered.', NEW.phone_number;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_phone_number_exists() OWNER TO postgres;

--
-- Name: refund_mypay_balance(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.refund_mypay_balance() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Check if the status is being updated to 'Canceled'
    IF NEW.status = 'Canceled' AND OLD.status = 'Searching for Nearby Workers' THEN
        -- Update the user's MyPay balance by refunding the amount
        UPDATE main_user
        SET mypay_balance = mypay_balance + OLD.price
        WHERE id = OLD.user_id;

        -- Optionally, log the refund action (for auditing purposes)
        INSERT INTO refund_logs (user_id, amount, refunded_at)
        VALUES (OLD.user_id, OLD.price, NOW());
    END IF;

    -- Return the new row to proceed with the update
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.refund_mypay_balance() OWNER TO postgres;

--
-- Name: update_user_level(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_user_level() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  UPDATE main_user
  SET level = CASE
    WHEN (SELECT COUNT(*) FROM services_serviceorder WHERE user_id = main_user.id) >= 15 THEN 'Gold'
    WHEN (SELECT COUNT(*) FROM services_serviceorder WHERE user_id = main_user.id) >= 10 THEN 'Silver'
    ELSE 'Bronze'
  END
  WHERE id = NEW.user_id;

  RETURN NULL;
END;
$$;


ALTER FUNCTION public.update_user_level() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: booked_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booked_sessions (
    id integer NOT NULL,
    session_id bigint,
    session_name character varying(255),
    price numeric(10,2),
    subcategory_id bigint,
    subcategory_name character varying(255),
    worker_name character varying(255),
    status character varying(100) DEFAULT 'Waiting for Payment'::character varying,
    action character varying(255),
    booked_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_id bigint
);


ALTER TABLE public.booked_sessions OWNER TO postgres;

--
-- Name: booked_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.booked_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.booked_sessions_id_seq OWNER TO postgres;

--
-- Name: booked_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.booked_sessions_id_seq OWNED BY public.booked_sessions.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: main_promo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_promo (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    offer_end_date date NOT NULL,
    discount_amount numeric
);


ALTER TABLE public.main_promo OWNER TO postgres;

--
-- Name: main_promo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_promo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_promo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_transaction (
    id bigint NOT NULL,
    amount integer NOT NULL,
    date timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.main_transaction OWNER TO postgres;

--
-- Name: main_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_transactioncategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_transactioncategory (
    category_id integer NOT NULL,
    category_name character varying(50) NOT NULL
);


ALTER TABLE public.main_transactioncategory OWNER TO postgres;

--
-- Name: main_transfertransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_transfertransaction (
    transaction_ptr_id bigint NOT NULL,
    recipient_id bigint NOT NULL
);


ALTER TABLE public.main_transfertransaction OWNER TO postgres;

--
-- Name: main_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_user (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    password character varying(128) NOT NULL,
    sex character varying(10) NOT NULL,
    phone_number character varying(20) NOT NULL,
    birth_date date NOT NULL,
    address text NOT NULL,
    last_login timestamp with time zone,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    first_name character varying(150) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL,
    last_name character varying(150) NOT NULL,
    username character varying(150) NOT NULL,
    mypay_balance numeric DEFAULT 0,
    level character varying(10) DEFAULT 'Bronze'::character varying
);


ALTER TABLE public.main_user OWNER TO postgres;

--
-- Name: main_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.main_user_groups OWNER TO postgres;

--
-- Name: main_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.main_user_user_permissions OWNER TO postgres;

--
-- Name: main_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_voucher; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_voucher (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    discount numeric(5,2) NOT NULL,
    min_transaction numeric(10,2) NOT NULL,
    validity_days integer NOT NULL,
    user_quota integer NOT NULL,
    price numeric(10,2) NOT NULL
);


ALTER TABLE public.main_voucher OWNER TO postgres;

--
-- Name: main_voucher_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_voucher ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_voucher_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_worker; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_worker (
    user_ptr_id bigint NOT NULL,
    bank_name character varying(50) NOT NULL,
    account_number character varying(30) NOT NULL,
    npwp character varying(20) NOT NULL,
    image_url character varying(200)
);


ALTER TABLE public.main_worker OWNER TO postgres;

--
-- Name: refund_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refund_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    refunded_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.refund_logs OWNER TO postgres;

--
-- Name: refund_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.refund_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refund_logs_id_seq OWNER TO postgres;

--
-- Name: refund_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.refund_logs_id_seq OWNED BY public.refund_logs.id;


--
-- Name: services_booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_booking (
    id bigint NOT NULL,
    date_booked timestamp with time zone NOT NULL,
    details text NOT NULL,
    user_id bigint NOT NULL,
    session_id bigint NOT NULL,
    status character varying(20) NOT NULL
);


ALTER TABLE public.services_booking OWNER TO postgres;

--
-- Name: services_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_servicecategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_servicecategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.services_servicecategory OWNER TO postgres;

--
-- Name: services_servicecategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_servicecategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_servicecategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_serviceorder; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_serviceorder (
    id bigint NOT NULL,
    order_name character varying(100) NOT NULL,
    status character varying(25) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.services_serviceorder OWNER TO postgres;

--
-- Name: services_serviceorder_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_serviceorder ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_serviceorder_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_servicesession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_servicesession (
    id bigint NOT NULL,
    session character varying(100) NOT NULL,
    price numeric(10,2) NOT NULL,
    subcategory_id bigint NOT NULL
);


ALTER TABLE public.services_servicesession OWNER TO postgres;

--
-- Name: services_servicesession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_servicesession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_servicesession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_subcategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_subcategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.services_subcategory OWNER TO postgres;

--
-- Name: services_subcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_subcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_subcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_testimonial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_testimonial (
    id bigint NOT NULL,
    content text NOT NULL,
    subcategory_id bigint NOT NULL,
    user_id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    rating smallint NOT NULL,
    CONSTRAINT services_testimonial_rating_check CHECK ((rating >= 0))
);


ALTER TABLE public.services_testimonial OWNER TO postgres;

--
-- Name: services_testimonial_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_testimonial ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_testimonial_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_workerservice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_workerservice (
    id bigint NOT NULL,
    is_joined boolean NOT NULL,
    subcategory_id bigint NOT NULL,
    worker_id bigint NOT NULL
);


ALTER TABLE public.services_workerservice OWNER TO postgres;

--
-- Name: services_workerservice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_workerservice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_workerservice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_workerserviceorder; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_workerserviceorder (
    id bigint NOT NULL,
    session character varying(100) NOT NULL,
    price numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    subcategory_id bigint NOT NULL,
    assigned_worker_id bigint
);


ALTER TABLE public.services_workerserviceorder OWNER TO postgres;

--
-- Name: services_workerserviceorder_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_workerserviceorder ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_workerserviceorder_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: services_workerserviceorder_workers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_workerserviceorder_workers (
    id bigint NOT NULL,
    workerserviceorder_id bigint NOT NULL,
    worker_id bigint NOT NULL
);


ALTER TABLE public.services_workerserviceorder_workers OWNER TO postgres;

--
-- Name: services_workerserviceorder_workers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_workerserviceorder_workers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_workerserviceorder_workers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: voucher_purchases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voucher_purchases (
    id integer NOT NULL,
    user_id integer NOT NULL,
    voucher_id integer NOT NULL,
    purchase_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_quota integer,
    validity_date date
);


ALTER TABLE public.voucher_purchases OWNER TO postgres;

--
-- Name: voucher_purchases_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.voucher_purchases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voucher_purchases_id_seq OWNER TO postgres;

--
-- Name: voucher_purchases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.voucher_purchases_id_seq OWNED BY public.voucher_purchases.id;


--
-- Name: workers_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workers_category (
    id integer NOT NULL,
    worker_id integer,
    category_id integer
);


ALTER TABLE public.workers_category OWNER TO postgres;

--
-- Name: workers_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.workers_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.workers_category_id_seq OWNER TO postgres;

--
-- Name: workers_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.workers_category_id_seq OWNED BY public.workers_category.id;


--
-- Name: booked_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booked_sessions ALTER COLUMN id SET DEFAULT nextval('public.booked_sessions_id_seq'::regclass);


--
-- Name: refund_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refund_logs ALTER COLUMN id SET DEFAULT nextval('public.refund_logs_id_seq'::regclass);


--
-- Name: voucher_purchases id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_purchases ALTER COLUMN id SET DEFAULT nextval('public.voucher_purchases_id_seq'::regclass);


--
-- Name: workers_category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workers_category ALTER COLUMN id SET DEFAULT nextval('public.workers_category_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: booked_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.booked_sessions (id, session_id, session_name, price, subcategory_id, subcategory_name, worker_name, status, action, booked_at, user_id) FROM stdin;
82	12	2 hours	580.00	3	Specialized Cleaning		Waiting for Payment	None	2024-12-08 19:19:49.291304	1
83	1	1 hour	150.00	1	General Cleaning		Canceled	None	2024-12-08 22:34:49.358307	1
84	8	3 hours	490.00	2	Deep Cleaning		Canceled	None	2024-12-08 22:55:22.048064	1
88	6	1 hour	200.00	2	Deep Cleaning		Waiting for Payment	None	2024-12-10 06:11:45.658271	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	main	user
8	main	worker
9	services	servicecategory
10	services	servicesession
11	services	booking
12	services	subcategory
13	services	testimonial
14	services	workerservice
15	main	userprofile
16	main	workerprofile
17	main	promo
18	main	voucher
19	services	serviceorder
20	services	workerserviceorder
21	main	transactioncategory
22	main	transaction
23	main	transfertransaction
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: main_promo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_promo (id, code, offer_end_date, discount_amount) FROM stdin;
1	PROMO10	2024-12-31	10
2	PROMO20	2024-11-30	20
3	PROMO30	2024-12-15	30
\.


--
-- Data for Name: main_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_transaction (id, amount, date, user_id, category_id) FROM stdin;
\.


--
-- Data for Name: main_transactioncategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_transactioncategory (category_id, category_name) FROM stdin;
\.


--
-- Data for Name: main_transfertransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_transfertransaction (transaction_ptr_id, recipient_id) FROM stdin;
\.


--
-- Data for Name: main_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: main_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: main_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: main_voucher; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_voucher (id, code, discount, min_transaction, validity_days, user_quota, price) FROM stdin;
1	VOUCHER1	10.00	50.00	30	100	5.00
2	VOUCHER2	15.00	100.00	60	200	8.00
3	VOUCHER3	20.00	150.00	45	300	10.00
4	VOUCHER4	5.00	20.00	15	50	2.00
\.


--
-- Data for Name: main_worker; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refund_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.refund_logs (id, user_id, amount, refunded_at) FROM stdin;
1	1	490.00	2024-12-09 04:20:21.582709
\.


--
-- Data for Name: services_booking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.services_booking (id, date_booked, details, user_id, session_id, status) FROM stdin;
\.


--
-- Data for Name: services_servicecategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: services_serviceorder; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.services_serviceorder (id, order_name, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: services_servicesession; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: services_subcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: services_testimonial; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.services_testimonial (id, content, subcategory_id, user_id, created_at, rating) FROM stdin;
\.


--
-- Data for Name: services_workerservice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.services_workerservice (id, is_joined, subcategory_id, worker_id) FROM stdin;
\.


--
-- Data for Name: services_workerserviceorder; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.services_workerserviceorder (id, session, price, status, created_at, updated_at, subcategory_id, assigned_worker_id) FROM stdin;
1	2 hours	200.00	looking_for_worker	2024-11-18 10:00:00+00	2024-11-18 10:00:00+00	1	\N
2	3 hours	300.00	looking_for_worker	2024-11-18 11:00:00+00	2024-11-18 11:00:00+00	2	\N
3	4 hours	400.00	looking_for_worker	2024-11-18 12:00:00+00	2024-11-18 12:00:00+00	3	\N
4	5 hours	500.00	looking_for_worker	2024-11-18 13:00:00+00	2024-11-18 13:00:00+00	4	\N
5	6 hours	600.00	looking_for_worker	2024-11-18 14:00:00+00	2024-11-18 14:00:00+00	5	\N
\.


--
-- Data for Name: services_workerserviceorder_workers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.services_workerserviceorder_workers (id, workerserviceorder_id, worker_id) FROM stdin;
\.


--
-- Data for Name: voucher_purchases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.voucher_purchases (id, user_id, voucher_id, purchase_date, user_quota, validity_date) FROM stdin;
4	1	4	2024-12-08 23:04:09.256446	50	\N
5	1	2	2024-12-09 04:32:16.948441	200	\N
8	1	1	2024-12-09 04:36:19.030862	100	\N
\.


--
-- Data for Name: workers_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workers_category (id, worker_id, category_id) FROM stdin;
1	2	1
2	2	3
3	2	4
4	2	5
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: booked_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.booked_sessions_id_seq', 88, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 33, true);


--
-- Name: main_promo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_promo_id_seq', 1, false);


--
-- Name: main_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_transaction_id_seq', 1, false);


--
-- Name: main_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_user_groups_id_seq', 1, false);


--
-- Name: main_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_user_id_seq', 22, true);


--
-- Name: main_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_user_user_permissions_id_seq', 1, false);


--
-- Name: main_voucher_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_voucher_id_seq', 1, false);


--
-- Name: refund_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.refund_logs_id_seq', 1, true);


--
-- Name: services_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_booking_id_seq', 1, false);


--
-- Name: services_servicecategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_servicecategory_id_seq', 5, true);


--
-- Name: services_serviceorder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_serviceorder_id_seq', 1, false);


--
-- Name: services_servicesession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_servicesession_id_seq', 30, true);


--
-- Name: services_subcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_subcategory_id_seq', 10, true);


--
-- Name: services_testimonial_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_testimonial_id_seq', 1, false);


--
-- Name: services_workerservice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_workerservice_id_seq', 1, false);


--
-- Name: services_workerserviceorder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_workerserviceorder_id_seq', 5, true);


--
-- Name: services_workerserviceorder_workers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_workerserviceorder_workers_id_seq', 1, false);


--
-- Name: voucher_purchases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.voucher_purchases_id_seq', 8, true);


--
-- Name: workers_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workers_category_id_seq', 4, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: booked_sessions booked_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booked_sessions
    ADD CONSTRAINT booked_sessions_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: main_promo main_promo_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_promo
    ADD CONSTRAINT main_promo_code_key UNIQUE (code);


--
-- Name: main_promo main_promo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_promo
    ADD CONSTRAINT main_promo_pkey PRIMARY KEY (id);


--
-- Name: main_transaction main_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_transaction
    ADD CONSTRAINT main_transaction_pkey PRIMARY KEY (id);


--
-- Name: main_transactioncategory main_transactioncategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_transactioncategory
    ADD CONSTRAINT main_transactioncategory_pkey PRIMARY KEY (category_id);


--
-- Name: main_transfertransaction main_transfertransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_transfertransaction
    ADD CONSTRAINT main_transfertransaction_pkey PRIMARY KEY (transaction_ptr_id);


--
-- Name: main_user_groups main_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_groups
    ADD CONSTRAINT main_user_groups_pkey PRIMARY KEY (id);


--
-- Name: main_user_groups main_user_groups_user_id_group_id_ae195797_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_groups
    ADD CONSTRAINT main_user_groups_user_id_group_id_ae195797_uniq UNIQUE (user_id, group_id);


--
-- Name: main_user main_user_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user
    ADD CONSTRAINT main_user_phone_number_key UNIQUE (phone_number);


--
-- Name: main_user main_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user
    ADD CONSTRAINT main_user_pkey PRIMARY KEY (id);


--
-- Name: main_user_user_permissions main_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_user_permissions
    ADD CONSTRAINT main_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: main_user_user_permissions main_user_user_permissions_user_id_permission_id_96b9fadf_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_user_permissions
    ADD CONSTRAINT main_user_user_permissions_user_id_permission_id_96b9fadf_uniq UNIQUE (user_id, permission_id);


--
-- Name: main_user main_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user
    ADD CONSTRAINT main_user_username_key UNIQUE (username);


--
-- Name: main_voucher main_voucher_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_voucher
    ADD CONSTRAINT main_voucher_code_key UNIQUE (code);


--
-- Name: main_voucher main_voucher_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_voucher
    ADD CONSTRAINT main_voucher_pkey PRIMARY KEY (id);


--
-- Name: main_worker main_worker_npwp_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_worker
    ADD CONSTRAINT main_worker_npwp_key UNIQUE (npwp);


--
-- Name: main_worker main_worker_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_worker
    ADD CONSTRAINT main_worker_pkey PRIMARY KEY (user_ptr_id);


--
-- Name: refund_logs refund_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refund_logs
    ADD CONSTRAINT refund_logs_pkey PRIMARY KEY (id);


--
-- Name: services_booking services_booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_booking
    ADD CONSTRAINT services_booking_pkey PRIMARY KEY (id);


--
-- Name: services_servicecategory services_servicecategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_servicecategory
    ADD CONSTRAINT services_servicecategory_pkey PRIMARY KEY (id);


--
-- Name: services_serviceorder services_serviceorder_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_serviceorder
    ADD CONSTRAINT services_serviceorder_pkey PRIMARY KEY (id);


--
-- Name: services_servicesession services_servicesession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_servicesession
    ADD CONSTRAINT services_servicesession_pkey PRIMARY KEY (id);


--
-- Name: services_subcategory services_subcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_subcategory
    ADD CONSTRAINT services_subcategory_pkey PRIMARY KEY (id);


--
-- Name: services_testimonial services_testimonial_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_testimonial
    ADD CONSTRAINT services_testimonial_pkey PRIMARY KEY (id);


--
-- Name: services_workerservice services_workerservice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerservice
    ADD CONSTRAINT services_workerservice_pkey PRIMARY KEY (id);


--
-- Name: services_workerserviceorder_workers services_workerserviceor_workerserviceorder_id_wo_78c9e6e4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerserviceorder_workers
    ADD CONSTRAINT services_workerserviceor_workerserviceorder_id_wo_78c9e6e4_uniq UNIQUE (workerserviceorder_id, worker_id);


--
-- Name: services_workerserviceorder services_workerserviceorder_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerserviceorder
    ADD CONSTRAINT services_workerserviceorder_pkey PRIMARY KEY (id);


--
-- Name: services_workerserviceorder_workers services_workerserviceorder_workers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerserviceorder_workers
    ADD CONSTRAINT services_workerserviceorder_workers_pkey PRIMARY KEY (id);


--
-- Name: voucher_purchases voucher_purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_purchases
    ADD CONSTRAINT voucher_purchases_pkey PRIMARY KEY (id);


--
-- Name: voucher_purchases voucher_purchases_user_id_voucher_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_purchases
    ADD CONSTRAINT voucher_purchases_user_id_voucher_id_key UNIQUE (user_id, voucher_id);


--
-- Name: workers_category workers_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workers_category
    ADD CONSTRAINT workers_category_pkey PRIMARY KEY (id);


--
-- Name: workers_category workers_category_worker_id_category_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workers_category
    ADD CONSTRAINT workers_category_worker_id_category_id_key UNIQUE (worker_id, category_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: main_promo_code_b8e10689_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_promo_code_b8e10689_like ON public.main_promo USING btree (code varchar_pattern_ops);


--
-- Name: main_transaction_category_id_537f76fc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_transaction_category_id_537f76fc ON public.main_transaction USING btree (category_id);


--
-- Name: main_transaction_user_id_fd91d649; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_transaction_user_id_fd91d649 ON public.main_transaction USING btree (user_id);


--
-- Name: main_transfertransaction_recipient_id_650b45ff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_transfertransaction_recipient_id_650b45ff ON public.main_transfertransaction USING btree (recipient_id);


--
-- Name: main_user_groups_group_id_a337ba62; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_user_groups_group_id_a337ba62 ON public.main_user_groups USING btree (group_id);


--
-- Name: main_user_groups_user_id_df502602; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_user_groups_user_id_df502602 ON public.main_user_groups USING btree (user_id);


--
-- Name: main_user_phone_number_58947ae4_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_user_phone_number_58947ae4_like ON public.main_user USING btree (phone_number varchar_pattern_ops);


--
-- Name: main_user_user_permissions_permission_id_cd2b56a3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_user_user_permissions_permission_id_cd2b56a3 ON public.main_user_user_permissions USING btree (permission_id);


--
-- Name: main_user_user_permissions_user_id_451ce57f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_user_user_permissions_user_id_451ce57f ON public.main_user_user_permissions USING btree (user_id);


--
-- Name: main_user_username_6330637b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_user_username_6330637b_like ON public.main_user USING btree (username varchar_pattern_ops);


--
-- Name: main_voucher_code_61814bc3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_voucher_code_61814bc3_like ON public.main_voucher USING btree (code varchar_pattern_ops);


--
-- Name: main_worker_npwp_bb1d97c6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_worker_npwp_bb1d97c6_like ON public.main_worker USING btree (npwp varchar_pattern_ops);


--
-- Name: services_booking_session_id_af737fe2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_booking_session_id_af737fe2 ON public.services_booking USING btree (session_id);


--
-- Name: services_booking_user_id_58c4e678; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_booking_user_id_58c4e678 ON public.services_booking USING btree (user_id);


--
-- Name: services_servicesession_subcategory_id_4ee796ca; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_servicesession_subcategory_id_4ee796ca ON public.services_servicesession USING btree (subcategory_id);


--
-- Name: services_subcategory_category_id_87a5a1b4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_subcategory_category_id_87a5a1b4 ON public.services_subcategory USING btree (category_id);


--
-- Name: services_testimonial_subcategory_id_6bf7b654; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_testimonial_subcategory_id_6bf7b654 ON public.services_testimonial USING btree (subcategory_id);


--
-- Name: services_testimonial_user_id_7f8fddb6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_testimonial_user_id_7f8fddb6 ON public.services_testimonial USING btree (user_id);


--
-- Name: services_workerservice_subcategory_id_30a74e4e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_workerservice_subcategory_id_30a74e4e ON public.services_workerservice USING btree (subcategory_id);


--
-- Name: services_workerservice_worker_id_11c3b9aa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_workerservice_worker_id_11c3b9aa ON public.services_workerservice USING btree (worker_id);


--
-- Name: services_workerserviceorde_workerserviceorder_id_ff021707; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_workerserviceorde_workerserviceorder_id_ff021707 ON public.services_workerserviceorder_workers USING btree (workerserviceorder_id);


--
-- Name: services_workerserviceorder_assigned_worker_id_a5694c8d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_workerserviceorder_assigned_worker_id_a5694c8d ON public.services_workerserviceorder USING btree (assigned_worker_id);


--
-- Name: services_workerserviceorder_subcategory_id_9b9c3527; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_workerserviceorder_subcategory_id_9b9c3527 ON public.services_workerserviceorder USING btree (subcategory_id);


--
-- Name: services_workerserviceorder_workers_worker_id_983d7ae1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX services_workerserviceorder_workers_worker_id_983d7ae1 ON public.services_workerserviceorder_workers USING btree (worker_id);


--
-- Name: main_worker trigger_check_bank_account_exists; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_check_bank_account_exists BEFORE INSERT ON public.main_worker FOR EACH ROW EXECUTE FUNCTION public.check_bank_account_exists();


--
-- Name: main_user trigger_check_phone_number_exists; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_check_phone_number_exists BEFORE INSERT ON public.main_user FOR EACH ROW EXECUTE FUNCTION public.check_phone_number_exists();


--
-- Name: booked_sessions trigger_refund_on_cancel; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_refund_on_cancel AFTER UPDATE OF status ON public.booked_sessions FOR EACH ROW WHEN ((((old.status)::text = 'Searching for Nearby Workers'::text) AND ((new.status)::text = 'Canceled'::text))) EXECUTE FUNCTION public.refund_mypay_balance();


--
-- Name: services_serviceorder trigger_update_user_level; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_user_level AFTER INSERT OR DELETE OR UPDATE ON public.services_serviceorder FOR EACH ROW EXECUTE FUNCTION public.update_user_level();


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: booked_sessions fk_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booked_sessions
    ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES public.main_user(id);


--
-- Name: main_transaction main_transaction_category_id_537f76fc_fk_main_tran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_transaction
    ADD CONSTRAINT main_transaction_category_id_537f76fc_fk_main_tran FOREIGN KEY (category_id) REFERENCES public.main_transactioncategory(category_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_transaction main_transaction_user_id_fd91d649_fk_main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_transaction
    ADD CONSTRAINT main_transaction_user_id_fd91d649_fk_main_user_id FOREIGN KEY (user_id) REFERENCES public.main_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_transfertransaction main_transfertransac_transaction_ptr_id_b18d7067_fk_main_tran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_transfertransaction
    ADD CONSTRAINT main_transfertransac_transaction_ptr_id_b18d7067_fk_main_tran FOREIGN KEY (transaction_ptr_id) REFERENCES public.main_transaction(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_transfertransaction main_transfertransaction_recipient_id_650b45ff_fk_main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_transfertransaction
    ADD CONSTRAINT main_transfertransaction_recipient_id_650b45ff_fk_main_user_id FOREIGN KEY (recipient_id) REFERENCES public.main_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_user_groups main_user_groups_group_id_a337ba62_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_groups
    ADD CONSTRAINT main_user_groups_group_id_a337ba62_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_user_groups main_user_groups_user_id_df502602_fk_main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_groups
    ADD CONSTRAINT main_user_groups_user_id_df502602_fk_main_user_id FOREIGN KEY (user_id) REFERENCES public.main_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_user_user_permissions main_user_user_permi_permission_id_cd2b56a3_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_user_permissions
    ADD CONSTRAINT main_user_user_permi_permission_id_cd2b56a3_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_user_user_permissions main_user_user_permissions_user_id_451ce57f_fk_main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_user_user_permissions
    ADD CONSTRAINT main_user_user_permissions_user_id_451ce57f_fk_main_user_id FOREIGN KEY (user_id) REFERENCES public.main_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_worker main_worker_user_ptr_id_d75d6069_fk_main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_worker
    ADD CONSTRAINT main_worker_user_ptr_id_d75d6069_fk_main_user_id FOREIGN KEY (user_ptr_id) REFERENCES public.main_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_booking services_booking_session_id_af737fe2_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_booking
    ADD CONSTRAINT services_booking_session_id_af737fe2_fk_services_ FOREIGN KEY (session_id) REFERENCES public.services_servicesession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_booking services_booking_user_id_58c4e678_fk_main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_booking
    ADD CONSTRAINT services_booking_user_id_58c4e678_fk_main_user_id FOREIGN KEY (user_id) REFERENCES public.main_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_servicesession services_servicesess_subcategory_id_4ee796ca_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_servicesession
    ADD CONSTRAINT services_servicesess_subcategory_id_4ee796ca_fk_services_ FOREIGN KEY (subcategory_id) REFERENCES public.services_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_subcategory services_subcategory_category_id_87a5a1b4_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_subcategory
    ADD CONSTRAINT services_subcategory_category_id_87a5a1b4_fk_services_ FOREIGN KEY (category_id) REFERENCES public.services_servicecategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_testimonial services_testimonial_subcategory_id_6bf7b654_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_testimonial
    ADD CONSTRAINT services_testimonial_subcategory_id_6bf7b654_fk_services_ FOREIGN KEY (subcategory_id) REFERENCES public.services_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_testimonial services_testimonial_user_id_7f8fddb6_fk_main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_testimonial
    ADD CONSTRAINT services_testimonial_user_id_7f8fddb6_fk_main_user_id FOREIGN KEY (user_id) REFERENCES public.main_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_workerserviceorder services_workerservi_assigned_worker_id_a5694c8d_fk_main_work; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerserviceorder
    ADD CONSTRAINT services_workerservi_assigned_worker_id_a5694c8d_fk_main_work FOREIGN KEY (assigned_worker_id) REFERENCES public.main_worker(user_ptr_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_workerservice services_workerservi_subcategory_id_30a74e4e_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerservice
    ADD CONSTRAINT services_workerservi_subcategory_id_30a74e4e_fk_services_ FOREIGN KEY (subcategory_id) REFERENCES public.services_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_workerserviceorder services_workerservi_subcategory_id_9b9c3527_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerserviceorder
    ADD CONSTRAINT services_workerservi_subcategory_id_9b9c3527_fk_services_ FOREIGN KEY (subcategory_id) REFERENCES public.services_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_workerservice services_workerservi_worker_id_11c3b9aa_fk_main_work; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerservice
    ADD CONSTRAINT services_workerservi_worker_id_11c3b9aa_fk_main_work FOREIGN KEY (worker_id) REFERENCES public.main_worker(user_ptr_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_workerserviceorder_workers services_workerservi_worker_id_983d7ae1_fk_main_work; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerserviceorder_workers
    ADD CONSTRAINT services_workerservi_worker_id_983d7ae1_fk_main_work FOREIGN KEY (worker_id) REFERENCES public.main_worker(user_ptr_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: services_workerserviceorder_workers services_workerservi_workerserviceorder_i_ff021707_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_workerserviceorder_workers
    ADD CONSTRAINT services_workerservi_workerserviceorder_i_ff021707_fk_services_ FOREIGN KEY (workerserviceorder_id) REFERENCES public.services_workerserviceorder(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: voucher_purchases voucher_purchases_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_purchases
    ADD CONSTRAINT voucher_purchases_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.main_user(id);


--
-- Name: voucher_purchases voucher_purchases_voucher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_purchases
    ADD CONSTRAINT voucher_purchases_voucher_id_fkey FOREIGN KEY (voucher_id) REFERENCES public.main_voucher(id);


--
-- Name: workers_category workers_category_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workers_category
    ADD CONSTRAINT workers_category_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.services_servicecategory(id) ON DELETE CASCADE;


--
-- Name: workers_category workers_category_worker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workers_category
    ADD CONSTRAINT workers_category_worker_id_fkey FOREIGN KEY (worker_id) REFERENCES public.main_user(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

