{% extends 'base.html' %}
{% block content %}
{% include 'navbar1.html' %}
<!-- Box Container -->
<div class="bg-transparent p-8 rounded-lg mb-8">
    <h2 class="text-lg font-semibold text-indigo-700"></h2>
    <p class="text-sm text-gray-600"></p>
</div>

<div class="mt-10 mx-auto max-w-4xl">
    <div class="flex justify-between items-center border-b-2 pb-2">
        <h1 class="text-xl font-bold">Booked Sessions</h1>
    </div>

    <!-- Booked Sessions List -->
    <div class="border border-gray-400 rounded-lg mt-6">
        <table class="table-auto w-full text-left">
            <thead>
                <tr class="bg-gray-200">
                    <th class="px-4 py-2">Subcategory</th>
                    <th class="px-4 py-2">Service Session</th>
                    <th class="px-4 py-2">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for session in booked_sessions %}
                <tr class="border-t">
                    <td class="px-4 py-2">{{ session.subcategory.name }}</td>
                    <td class="px-4 py-2">{{ session.session }}</td>
                    <td class="px-4 py-2">${{ session.price }}</td>
                </tr>
                {% empty %}
                <tr class="border-t">
                    <td colspan="3" class="px-4 py-2 text-center">No sessions booked yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
