{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Students Navbar</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container flex justify-between items-center w-full">
            <div class="logo">
                <img src="{% static 'images/cleanstudentslogo.png' %}" alt="CleanStudents Logo" class="logo-img">
            </div>
            <div class="flex-shrink-0 flex px-2 py-1 items-center space-x-8">
                {% if not user.is_authenticated %}
                <!-- Login Link (could be conditionally rendered if the user is not logged in) -->
                    <a class="text-gray-700 hover:text-indigo-700 text-sm font-medium" href="{% url 'login' %}">Login</a>
                    <a class="text-gray-800 bg-indigo-100 hover:bg-indigo-200 inline-flex items-center justify-center px-3 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm" href="{% url 'register_landing' %}">Sign up</a>
                {% else %}
                <!-- Conditionally Render Logout Button (if user is logged in) -->
                    <a href="{% url 'logout' %}" class="text-gray-700 hover:text-indigo-700 text-sm font-medium">Logout</a>
                    <a href="{% url 'services:service_bookings' %}" class="text-gray-700 hover:text-indigo-700 text-sm font-medium">Bookings</a>
                {% endif %}
        </div>      
    </nav>
    <!-- Content Placeholder -->
    <div class="content mt-24">
        <!-- Page content goes here -->
    </div>
</body>
</html>
