<!-- templates/register_landing.html -->
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<section class="min-h-screen bg-gradient-to-b from-blue-100 to-white flex flex-col items-center justify-center p-4"">
  
    <div class="w-full max-w-md bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700 p-8 text-center mx-auto">
      <div class="flex items-start space-x-4">
        <!-- Back Button -->
        <a href="javascript:history.back()" class="bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-full p-2 shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </a>

        <div class="flex-1">
          <h1 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Register</h1>
          <p class="text-sm text-gray-600 dark:text-gray-400 mb-8">Choose your role to get started</p>
          
          <!-- Role Selection -->
          <div class="flex justify-around space-x-4">
            <!-- User Role Box -->
            <a href="{% url 'register_user' %}" class="w-1/2 p-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-600 dark:focus:ring-blue-800 text-center font-bold">
              User
            </a>
            
            <!-- Worker Role Box -->
            <a href="{% url 'register_worker' %}" class="w-1/2 p-4 bg-gray-200 text-gray-800 rounded-lg hover:bg-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 text-center font-bold">
              Worker
            </a>
          </div>
        </div>
        <!-- Transparent Back Button for spacing -->
        <div class="bg-transparent text-transparent rounded-full p-2 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
      </div>
    </section>

{% endblock %}


